<% content_for :title do -%>
  <h2>Home</h2>
<% end -%>

<p>Browse <strong><%= number_with_delimiter @brewery_count %> breweries</strong> and <strong><%= number_with_delimiter @beer_count %> beers</strong>.</p>
