<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>Bartender Example</title>

  <%= stylesheet_link_tag "screen" %>
</head>
<body>

<header>
  <ul>
    <li><a href="/">!</a></li>
    <li><a href="/beers">Beers</a></li>
    <li><a href="/breweries">Breweries</a></li>
  </ul>
</header>

<section>
  <header>
    <%= yield :title %>
  </header>
</section>

<section>
  <%= yield %>
</section>

</body>
</html>
